th,
strong {
    color: black;
}

.mainView {
    background-color: white;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 3%;
}

main,
body {
    background-color: #F1F1F1;
}

h1 {
    color: #4A4A4A;
}

hr {
    height: 1px;
    width: 100%;
    border-color: #B9B5B5;
}

.PanierImg {
    width: 121px;
    height: 121px;
}

.captionProduct {
    text-align: left;
    line-height: 0px;
}

.btnPayer {
    background: #D8475D;
    color: #F1F1F1;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 110%;
    padding-left: 15px;
    margin-right: 5%;
}

.btn {
    padding: 30px;
}

th {
    text-align: left;
    padding: 15px;
}

.responsiveTable, .responsiveTable > table {
    width: 100%;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
    }
    
    tr > th {
        display: none;
    }

    tr {
        line-height: 0px;
        border-bottom: 1px solid #B9B5B5;
    }

    hr {
        width: 0px;
    }

    .text-left {
        text-align: right;
    }

    .responsive-center {
        text-align: center;
    }

    .left{
        float:none;
        text-align: right;
    }

    p {
        padding: 5px;
    }

    .mainView {
        margin-top: 50px;
        margin-bottom: 0;
    }
}