th,
strong {
    color: var(--third-color);
}

h3 {
    padding: 5px;
}

.images {
    width: 140px;
    height: 140px;
    padding: 1px;
    border: 3px solid var(--secondary-color);
    border-radius: 2px;
    background-color: var(--secondary-color);
}

.text-left {
    text-align: left;
    line-height: 0px;
}

th {
    text-align: left;
    padding-top: 15px;
}

.responsiveTable, .responsiveTable > table {
    width: 100%;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
    }
    
    tr > th {
        display: none;
    }

    tr {
        line-height: 0px;
        border-bottom: 1px solid #B9B5B5;
    }

    hr {
        width: 0px;
    }

    .responsive-center {
        text-align: center;
    }

    .mainView {
        margin-top: 50px;
        margin-bottom: 0;
    }
}