.frontImgHeader {
    background-color: #FAFAFA;
}

.frontImg {
    width: auto;
    height: auto;
    margin: 0 auto;
}

.frontFirstCol {
    width: 100%;
    height: 100%;
}

.frontSecondCol {
    width: 100%;
    height: 100%;
}

.frontThirdCol{
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: -17%;
}

.savoir-plus{
    position: relative;
    color: #66BBFF;
    left: 40%;
    width: 20%;
    bottom: 100px;
    height: 60px;
    font-size: 1.1em;
    background-color: #FAFAFA;
    border-radius: 10px;
    cursor: pointer;
}

.savoir-plus2{
    position: relative;
    bottom: 50%;
    left: 32%;
    color: #66BBFF;
    width: 20%;
    height: 10%;
    font-size: 13px;
    background-color: #0e2343;
    border-radius: 10px;
    cursor: pointer;
}

.savoir-plus3{
    position: relative;
    bottom: 50%;
    right: 30%;
    color: #66BBFF;
    width: 20%;
    height: 10%;
    font-size: 13px;
    background-color: #282a38;
    border-radius: 10px;
    cursor: pointer;
}

h1{
    color: black;
    font-size: 2.3em;
    letter-spacing: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 50px;
}

h2{
    color: #444444;
    font-size: 35px;
    position: relative;
    bottom: 35%;
    right: 25%;
}

.galaxy2Desc{
    color: #444444;
    font-size: 1.2rem;

}


