.frontImgHeader {
    background-color: #FAFAFA;
}

.frontImg {
    width: auto;
    height: auto;
    margin: 0 auto;
}

.more-info-bottom {
    position: relative;
    color: #66BBFF;
    width: 20%;
    bottom: 100px;
    height: 60px;
    font-size: 1.1em;
    background-color: #FAFAFA;
    border-radius: 10px;
    cursor: pointer;
}

.more-info-left {
    position: relative;
    bottom: 50%;
    left: 32%;
    color: #66BBFF;
    width: 20%;
    height: 10%;
    font-size: 13px;
    background-color: #0e2343;
    border-radius: 10px;
    cursor: pointer;
}

.more-info-right {
    position: relative;
    bottom: 50%;
    right: 30%;
    color: #66BBFF;
    width: 20%;
    height: 10%;
    font-size: 13px;
    background-color: #282a38;
    border-radius: 10px;
    cursor: pointer;
}

h1 {
    font-size: 3em;
    margin-bottom: 0;
    padding-bottom: 0;
}