.frontImgHeader {
    background-color: #FAFAFA;
}

.frontImg {
    width: auto;
    height: auto;
    margin: 0 auto;
}

.frontFirstCol {
    width: 100%;
    height: 100%;
}

.frontSecondCol {
    width: 100%;
    height: 100%;
}

.savoir-plus{
    color: black;
}

.frontIconCol{
    width: 65%;
}

