.headerBar {
    background-color: #D8475D;
    padding: 5px;
}

.headerBar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.search-input {
    background-color: #D8475D;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom: 1px solid #FBFBFB;
    width: 70%;
    font-size: 16px;
}

.search-icon {
    background-image: url("/public/img/searchIcon.png");
    height: 27px;
    width: 27px;
    background-size: cover;
    border: 1px solid #D8475D;
    cursor: pointer;
}

.cart-icon {
    background-image: url("/public/img/panierIcon.png");
    height: 40px;
    width: 40px;
    background-size: cover;
    border: 1px solid #D8475D;
    cursor: pointer;
}

.logo {
    height: 40px;
    cursor: pointer;
}
