.frontCartInput,
.frontSearchIcon,
.frontSearchInput {
    background-color: #D8475D;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    width: 100%;
}

.frontSearchIcon {
    background-image: url("/public/img/searchIcon.png");
    height: 20px;
    width: 20px;
    background-size: cover;
    border: 1px solid #D8475D;
}

.frontCartInput {
    background-image: url("/public/img/panierIcon.png");
    height: 40px;
    width: 40px;
    background-size: cover;
    border: 1px solid #D8475D;
}

.logo {
    height: 35px;
}

.frontMenu {
    padding: 6px;
}

ul li a {
    font-size: smaller;
}