<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blossom | Page ajout de produits</title>
    <link rel="stylesheet" href="../../public/css/grid.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/addProduits.back.css">
    <link rel="stylesheet" href="../../public/css/menuLateral.back.css">
    <link rel="stylesheet" href="../../public/css/template.back.css">
    <link rel="stylesheet" href="../../public/css/adminBar.css">
    <link rel="stylesheet" href="../../public/css/responsiveMenu.css">
</head>

<body>
    <header>
        <!-- Barre de navigation -->
        <nav class="headerBar adminBar position-fixed">
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn">
                <span class="navicon"></span>
            </label>
            <ul class="subMenuList row menu">
                <li class="col-xs-1">
                    <img class="subMenuLink adminBarImg right" src="../../public/img/logo.png" alt="Logo">
                </li>
                <li class="col-xs-1">
                    <a class="subMenuLink" href="front.tpl.html">Site</a>
                </li>
                <li class="col-xs-1">
                    <a class="subMenuLink" href="">Créer</a>
                </li>
                <li class="col-xs-1">
                    <a class="subMenuLink" href="">Editer</a>
                </li>
                <li class="col-xs-4">
                    <img class="blossom" src="../../public/img/logo_blanc.png" alt="Logo">
                </li>
                <li class="col-xs-2">
                    <img class="subMenuLink adminBarImg right" src="../../public/img/doge.jpg" alt="Image de profil">
                </li>
                <li class="col-xs-2">
                    <a href="">Kai Shiba</a>
                </li>
            </ul>
        </nav>
        <!-- Header rouge -->

        <div class="backHeaderBar"></div>

    </header>


    <main>
        <section class="row back">

            <!-- Menu latéral -->
            <nav class="col-xs-2 backLeftMenu">
                <ul class="backMenu">
                    <li class="backMenuLink">
                        <a class="" href="back.tpl.html" >Tableau de bord</a>
                    </li>
                    <li class="backMenuLink">
                        <a class="" href="#">Categories</a>
                    </li>
                    <li class="backMenuLink">
                        <a class="" href="#">Pages</a>
                    </li>
                    <li class="backMenuLink rose-bg">
                        <a class="" href="backProduits.tpl.html" style="color:white;">Produits</a>
                    </li>
                    <li class="backMenuLink">
                        <a class="" href="#">Medias</a‡>
                    </li>
                    <li class="backMenuLink">
                        <a class="" href="#">Commandes</a>
                    </li>
                    <li class="backMenuLink">
                        <a class="" href="#">Commentaires</a>
                    </li>
                    <li class="backMenuLink">
                        <a class="" href="#">Utilisateurs</a>
                    </li>
                </ul>
            </nav>

            <section class="col-lg-9 backView">
                <article>
                    <div class="col-lg-12">
                        <h1>Ajout d'articles</h1>
                    </div>
                </article>
                <article>
                    <div class="col-lg-6 floatingLeft">
                        <div class="container">
                            <div class="col-lg-4 center-container">
                                <div class="blockImage">
                                    <div class="elements">
                                        <span>Séléctionnez votre image</span>
                                        <button>+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="row">
                    <div class="col-lg-6 floatingLeft">
                        <div class="container text-left">
                            <form action="" method="post">
                                <label for="title">
                                    <span class="titleForm">Titre : </span>
                                    <input type="text" name="test" class="inputText">
                                </label>
                                <label for="description">
                                    <span class="titleForm">Description de l'article : </span>
                                    <textarea></textarea>
                                </label>
                                <label for="price">
                                    <span class="titleForm">Prix : </span>
                                    <input type="text" name="test" class="inputText">
                                </label>
                                <label for="technical">
                                    <span class="titleForm">Champ technique : </span>
                                    <input type="text" name="test" class="inputText">
                                </label>
                                <label for="technical2">
                                    <span class="titleForm">Champ technique : </span>
                                    <input type="text" name="test" class="inputText">
                                </label>
                                <button class="btnValid">Valider</button>
                            </form>
                        </div>
                    </div>
                </article>
            </section>
        </section>
    </main>
</body>

</html>