<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blossom</title>
    <link rel="stylesheet" href="../../public/css/grid.css">
    <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body style="background-color: #F1F1F1; height: 100%;">
    <header>
            <nav class="row adminBar">

                    <div class="col-lg-1">
                        <img class="logo" src="../../public/img/logo.png" alt="Logo">
                    </div>
                    <div class="col-lg-3">
                        <ul class="subMenuList">
                            <li><a class="subMenuLink" href="">Home</a></li>
                            <li><a class="subMenuLink" href="">Créer</a></li>
                            <li><a class="subMenuLink" href="">Editer</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-1"></div>
                    <div class="title" class="col-lg-2">Blossom</div>
                    <div class="col-lg-3"></div>

                    <div class="col-lg-1">
                        <img class="profilePicture" src="../../public/img/logo.png" alt="Image de profil">
                    </div>

                    <div class="col-lg-1">Doggo Shiba</div>
            
                </nav>
    </header>
    <main>
        <section class="row backView">
            <nav class="col-xs-2 backLeftMenu">
                <ul class="backMenu">
                    <li class="backMenuLink backTDB">
                        <a class="" href="#">Tableau de bord</a>
                    </li>
                    <li class="backMenuLink">
                        <a class="" href="#">Categories</a>
                    </li>
                    <li class="backMenuLink">
                        <a class="" href="#">Pages</a>
                    </li>
                    <li class="backMenuLink">
                        <a class="" href="#">Produits</a>
                    </li>
                    <li class="backMenuLink">
                        <a class="" href="#">Medias</a>
                    </li>
                    <li class="backMenuLink">
                        <a class="" href="#">Commandes</a>
                    </li>
                    <li class="backMenuLink">
                        <a class="" href="#">Commentaires</a>
                    </li>
                    <li class="backMenuLink">
                        <a class="" href="#">Apparences</a>
                    </li>
                    <li class="backMenuLink">
                        <a class="" href="#">Utilisateurs</a>
                    </li>
                    <li class="backMenuLink">
                        <a class="" href="#">Réglages</a>
                    </li>
                </ul>
            </nav>
            <section class="col-xs-9" style="background-color: white; height: 100%; margin-left: auto; margin-right: auto; margin-bottom: auto;">
                <article>
                    <div class="col-sm-6" style="display: inline; float: left; width: 100%;">
                        <h1 class="backTitleView">Test1</h1>
                    </div>
                    <div class="col-sm-6" style="display: inline; float: left; width: 100%;">
                        <h1 class="backTitleView">Test2</h1>
                    </div>
                </article>
            </section>
        </section>

    </main>
</body>

</html>