<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/burger.css">
</head>

<body>
        <header class="header">
                <img = id="header-logo" src="images/logo-web.png" width="230" height="55" alt="logo-mobile">
                <input class="menu-btn" type="checkbox" id="menu-btn" />
                  <label class="menu-icon" for="menu-btn">
                      <span class="navicon"></span></label>
                  <ul class="menu">
                    <li><a href="index.html">accueil</a></li>
                      <li><a href="#section2">partenaires</a></li>
                    <li><a href="#section3">formule</a></li>
                    <li><a href="contact.html">contact</a></li>
                  </ul>
            </header>
</body>

</html>