<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/grid.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/adminBar.css">
    <link rel="stylesheet" href="../../public/css/template.front.css">
    <link rel="stylesheet" href="../../public/css/menu.front.css">
    <script src="../../public/js/toggleMenu.js"></script>
</head>

<body>
    <header>

        <nav class="adminBar position-fixed">
            <ul class="subMenuList row" id="menu">
                <li class="col-xs-1">
                    <img class="subMenuLink adminBarImg right" src="../../public/img/logo.png" alt="Logo">
                </li>
                <li class="col-xs-1">
                    <a class="subMenuLink right" href="">Home</a>
                </li>
                <li class="col-xs-1">
                    <a class="subMenuLink" href="">Créer</a>
                </li>
                <li class="col-xs-1">
                    <a class="left subMenuLink" href="">Editer</a>
                </li>
                <li class="col-xs-4">
                    <img class="blossom" src="../../public/img/logo_blanc.png" alt="Logo">
                </li>
                <li class="col-xs-2">
                    <img class="subMenuLink adminBarImg right" src="../../public/img/logo.png" alt="Image de profil">
                </li>
                <li class="col-xs-2">
                    <a href="">Kai Shiba</a>
                </li>
            </ul>
        </nav>

        <nav class="frontMenuBar frontPosition-fixedAfter">
            <ul class="subMenuList row">
                <li class="col-xs-3">
                </li>
                <li class="col-xs-1">
                    <img class="logo" src="../../public/img/logo.png">
                </li>
                <li class="col-xs-1">
                    <a href="#">Téléphones</a>
                </li>
                <li class="col-xs-1">
                    <a href="#">Accessoires</a>
                </li>
                <li class="col-xs-1">
                    <a href="#">Assistance</a>
                </li>
                <li class="col-xs-1">
                    <input class="frontSearchInput" type="text" name="recherche">
                </li>
                <li class="col-xs-1">
                    <input class="frontSearchIcon left" type="submit" name="search" value="" />
                </li>
                <li class="col-xs-1">
                    <input class="frontCartInput left" type="submit" name="search" value="" />
                </li>
            </ul>
        </nav>

    </header>

    <main>

        <section class="frontImgHeader row">
                <img class="frontImg gutters" src="../../public/img/bigIphoneXaccueil.jpeg">
        </section>

        <section class="row">
            <div class="col-lg-4">
                <img class="frontFirstCol gutters" src="../../public/img/iphone8Blackaccueil.jpeg">
            </div>
            <div class="col-lg-4">
                <img class="frontSecondCol gutters" src="../../public/img/iphone8Grisaccueil.jpeg">
            </div>
            <div class="col-lg-4">
                <img class="frontThirdCol gutters" src="../../public/img/iphone6accueil.jpg">
            </div>
        </section>

    </main>

    <footer>
        <section class="row">

        </section>
    </footer>

</body>

</html>