<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/grid.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/adminBar.css">
    <link rel="stylesheet" href="../../public/css/template.front.css">
</head>

<body>
    <header>

        <nav class="row adminBar">

            <div class="col-lg-1">
                <img class="logo" src="../../public/img/logo.png" alt="Logo">
            </div>
            <div class="col-lg-3">
                <ul class="subMenuList">
                    <li>
                        <a class="subMenuLink" href="">Home</a>
                    </li>
                    <li>
                        <a class="subMenuLink" href="">Créer</a>
                    </li>
                    <li>
                        <a class="subMenuLink" href="">Editer</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-1"></div>
            <div class="title" class="col-lg-2">
                Blossom
            </div>
            <div class="col-lg-3"></div>
            <div class="col-lg-1">
                <img class="profilePicture" src="../../public/img/logo.png" alt="Image de profil">
            </div>
            <div class="col-lg-1">
                Doggo Shiba
            </div>

        </nav>

        <nav class="row frontMenuBar">

            <div class="col-lg-3"></div>
            <div class="col-lg-1">
                <img class="logo" src="../../public/img/logo.png">
            </div>
            <div class="col-lg-1">
                <a href="#">Téléphones</a>
            </div>
            <div class="col-lg-1">
                <a href="#">Accessoires</a>
            </div>
            <div class="col-lg-1">
                <a href="#">Assistance</a>
            </div>
            <div class="col-lg-2">
                <form action="#">
                    <input class="frontSearchInput" type="text" name="recherche">
                    <input class="frontSearchIcon" type="submit" name="search" value="" />
            </div>
            <form action='#'>
                <input class="frontCartInput" type="submit" name="search" value="" />
            </form>

        </nav>
    </header>

    <main>

        <section class="row">
            <div class="frontFirstContent col-lg-12">
                <img class="frontFirstImg gutters" src="../../public/img/bigIphoneXaccueil.jpeg">
            </div>
        </section>


        <section class="row">
            <div class="col-lg-4">
                <img class="frontFirstCol gutters" src="../../public/img/iphone8Blackaccueil.jpeg">
            </div>
            <div class="col-lg-4">
                <img class="frontSecondCol gutters" src="../../public/img/iphone8Grisaccueil.jpeg">
            </div>
            <div class="col-lg-4">
                <img class="frontThirdCol gutters" src="../../public/img/iphone6accueil.jpg">
            </div>
        </section>


    </main>

    <footer>
        <section class="row">

        </section>
    </footer>

</body>

</html>
