<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HomePage</title>
    <link rel="stylesheet" href="../../public/css/grid.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/template.home.css">
  </head>
  <body>
      <header>

        <div class = "homeFirstContent col-lg-12">
            <nav class="row homeBar">

                <div class="col-lg-5">
                </div>
                <!-- <div class="homeLogo col-lg-2">
                </div> -->
                <img class = "col-lg-2" src='../../public/img/logo_blanc.png'></img>
                <div class="col-lg-3"></div>
                <div class="col-lg-1">
                    <p class="homeTextHomeBar">Documentation</p>
                </div>
                <div class="col-lg-1">
                    <p class="homeTextHomeBar">Qui sommes-nous ?</p>
                </div>

            </nav>
              <section class="row homeDivTaille">
                  <div class="col-lg-12">
                      <button class="homeBtTelechargement" type="button" href="#"><p class="homeTelecharger">Télécharger</p></button>
                  </div>
              </section>

        </div>
      </header>
      <main>
          <div class="row homeCitation col-lg-12">
                  <div class="col-lg-4">
                  </div>
                  <div class="homeSlogan">
                      Créer, éditer, supprimer rapidement en toute simplicité.
                      <p class="homeCitationText" >« Fleurissez avec Blossom »</p>
                      <p class="homeSignature">
                        - L’équipe Blossom.
                      </p>
                  </div>
          </div>

          <div class="row homeTitleFeatures col-lg-12">
                <div class="col-lg-5"></div>
                <div class="coucou">
                    Des possibilités sans fin. Qu’allez-vous créer ?
                </div>
          </div>
          <div class="row homeFeatures col-lg-12">
                <div class="col-lg-4"></div>
                <div class="homePaint">
                    <figure class="homeFigure">
                        <img src="../../public/img/brushIcon.png" class="homeBrushImg" alt=".." title="...">
                        <figcaption>De nombreux design</figcaption>
                    </figure>
                </div>
                <div class="homePaint">
                    <figure class="homeFigure">
                        <img src="../../public/img/securityIcon.png" class="homeBrushImg" alt=".." title="...">
                        <figcaption>De la sécurite</figcaption>
                    </figure>
                </div>
                <div class="homePaint">
                    <figure class="homeFigure">
                        <img src="../../public/img/perfIcon.png" class="homeBrushImg" alt=".." title="...">
                        <figcaption>Des performances</figcaption>
                    </figure>
                </div>
                <div class="col-lg-4"></div>
                <div class="homePaint">
                    <figure class="homeFigure">
                        <img src="../../public/img/thumbUpIcon.png" class="homeBrushImg" alt=".." title="...">
                        <figcaption>Facile d’utilisation</figcaption>
                    </figure>

                </div>
                <div class="homePaint">
                    <figure class="homeFigure">
                        <img src="../../public/img/mouseIcon.png" class="homeBrushImg" alt=".." title="...">
                        <figcaption>Prêt en un clic</figcaption>
                    </figure>
                </div>
                <div class="homePaint">
                    <figure class="homeFigure">
                        <img src="../../public/img/phoneIcon.png" class="homeBrushImg" alt=".." title="...">
                        <figcaption>Responsive mobile</figcaption>
                    </figure>
                </div>
          </div>
      </main>




  </body>
</html>
