<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/grid.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/template.home.css">
  </head>
  <body>
      <header>

        <div class = "homeFirstContent col-lg-12">
            <nav class="row homeBar">

                <div class="col-lg-5">
                </div>
                <div class="title" class="col-lg-2">
                    Blossom
                </div>
                <div class="col-lg-3"></div>
                <div class="col-lg-1">
                    <p class="homeTextHomeBar">Documentation</p>
                </div>
                <div class="col-lg-1">
                    <p class="homeTextHomeBar">Qui sommes-nous ?</p>
                </div>

            </nav>
              <section class="row  homeDivTaille">
                  <div class="col-lg-12">
                  <button class="homeBtTelechargement" type="button" href="#"><p class="homeTelecharger">Télécharger</p></button>
                </div>
              </section>
        </div>

      </header>
  </body>
</html>
