<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blossom | Menu Lateral</title>
    <link rel="stylesheet" href="../../public/css/grid.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/menuLateral.back.css">

</head>

<body>

    <div class="row">

        <!-- Menu latéral -->
        <nav class="col-xs-2 backLeftMenu">
            <ul class="backMenu">
                <li class="backMenuLink rose-bg">
                    <a class="" href="back.tpl.html" style="color:white;">Tableau de bord</a>
                </li>
                <li class="backMenuLink">
                    <a class="" href="#">Categories</a>
                </li>
                <li class="backMenuLink">
                    <a class="" href="#">Pages</a>
                </li>
                <li class="backMenuLink">
                    <a class="" href="backProduits.tpl.html">Produits</a>
                </li>
                <li class="backMenuLink">
                    <a class="" href="#">Medias</a‡>
                </li>
                <li class="backMenuLink">
                    <a class="" href="#">Commandes</a>
                </li>
                <li class="backMenuLink">
                    <a class="" href="#">Commentaires</a>
                </li>
                <li class="backMenuLink">
                    <a class="" href="#">Utilisateurs</a>
                </li>
            </ul>
        </nav>
        
    </div>

</body>

</html>