label
{
    display: block;
    padding: 20px;
}

label span
{
    display: inline-block;
    text-align: right;
    width: 15%;
    letter-spacing: 3px;
}

label input, label textarea {
    color: #444444;
    width: 70%;
}

label input {
    height: 50px;
}

label textarea {
    height: 100px;
}

.col-lg-9 h1 {
    color: #444444;
    letter-spacing: 5px;
    font-size: 2em;
}

.blockImage {
    border: 1px solid #444444;
}

.blockImage span {
    color: #444444
}

.elements {
    margin: 50% 0;
    align-items: center;
    padding: 15px;
}

.elements button {
    border: none;
    background-color: #d8475d;
    height: 44px;
    width: 50px;
    border-radius: 200px;

}

.elements span {
    font-size: 1rem;
    letter-spacing: 4px;
}

.btnValid {
    background-color: #D8475D;
    border: none;
    border-radius: 3px;
    height: 65px;
    width: 170px;
    font-size: larger;
    letter-spacing: 3px;
}

.floatingLeft {
    display: inline;
    float: left;
    width: 100%;
}

.center-container {
    float: none;
    margin: auto;
}

.text-left {
    text-align: left;
}

.titleForm {
    color: #444444;
}
