.backMarques {
    color: #444444;
    float: right;
    padding-left: 15%; 
}

.backFiltreMarques{
    margin-top: 30px;
    margin: auto;
}

.backFiltreHeader{
    height: 100px;
    background-color: #F5F5F5;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

.backListingProduits{
    height: 25%;
    background-color: #FBFBFB;
    border-bottom: 1px solid #DADADA;
    padding-top: 20px;
}

.backProduitsImg{
    width: 100px;
}

.backDescription{
    color: #444444;
    margin: auto;
}

.backPrixProduits{
    color: #444444;
    margin: auto;
}

.backBtnAdd{
    background-color: #D8475D;
    font-size: 2.8em;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* margin-top: -100px; */
    position: fixed;
}

.backSearch{
    width: 30px;
}

@media screen and (max-width: 800px){
    .backPrixProduits{
        width: 80%;
        margin-top: auto;
    }
}

