.adminBar {
    height: 50px;
    background-color: #D8475D;
}

.adminBarImg {
    height: 50px;
}

.subMenuList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.subMenuLink {
    padding: 10px;
}

.blossom {
    height: 25px;
}
