main {
    background: #F1F1F1;
}

.viewContent {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 1px 1px 12px #555;
    height: 100%;
}

.headNav {
    margin: auto 30px auto calc(2/11*100%);
    width: 100%;
}