@font-face {
    font-family: 'Avenir';
    src: url('/public/font/AvenirNextRegular.otf') format('truetype');
}

* {
    font-family: "Avenir";
    color: var(--secondary-color);
    box-sizing: border-box;
}

html {
    background: var(--background-color);
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    padding: 20px;
    font-size: 1.5em;
}

p {
    padding: 5px;
    font-size: 100%;
}

li {
    list-style-type: none;
}

hr {
    background-color: #dbdbdb;
    border: none;
    display: block;
    height: 1px;
    margin: 1.5rem 0;
}

footer {
    background-color: var(--main-color);
    height: 150px;
    padding: 15px;
}

input:not([type='radio'])  {
    height: 40px;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid var(--third-color);
}

input[type="submit"]:not([data-icon]) {
    border: 0;
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--secondary-color);
}

input {
    background-color: var(--secondary-color);
}

[data-icon] {
    cursor: pointer;
    border: 0 !important;
}

#search {
    width: 250px;
    font-size: 20px;
}

.viewContent {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary-color);
    height: 100%;
}

.mainView {
    background-color: var(--secondary-color);
    height: 100%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.is-main-color {
    color: var(--main-color) !important;
}

.is-secondary-color {
    color: var(--secondary-color) !important;
}

.is-third-color {
    color: var(--third-color) !important;
}

.bg-is-main-color {
    background-color: var(--main-color) !important;
}

.bandeau {
    padding: 75px 0;
    margin: 75px 0;
}

.small-bandeau {
    padding: 10px 0;
    margin: 10px 0;
    width: 100%;
}

.medium-bandeau {
    padding: 25px 0;
    margin: 25px 0;
    width: 100%;
}

.is-font-title {
    font-size: 22px;
}

.box-has-shadow {
    /* box-shadow: 1px 1px 12px #555; */
}

.in-center-box {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.is-left {
    margin-left: 15px;
    padding-left: 15px;
    float: left;
}

.is-right {
    margin-right: 15px;
    padding-right: 15px;
    float: right;
}

.is-h-centered {
    margin: 0 auto;
}

.is-v-centered {
    margin: auto 0;
}

.text-is-left {
    text-align: left !important;
}

.text-is-right {
    text-align: right !important;
}

.text-is-centered {
    text-align: center !important;
}

.text-is-justified {
    text-align: justify !important;
}

.position-is-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.img-is-auto {
    width: 100%;
    height: auto;
}

.img-is-max {
    width: 100%;
    height: 100%;
}

.height-is-75 {
    height: 75px;
}

.inline {
    display: inline-block;
}

.default-button {
    border: 0;
    background-color: var(--secondary-color);
}

.margin-zero {
    margin: 0;
}

.padding-zero {
    padding: 0;
}