.form {
    margin: 0 auto;
}

.form > label > p {
    text-align: left;
}

.form > label > p > input {
    border: 0;
    border-bottom: 1px solid;
    width: 100%;
    padding: 10px;
}

.form > label > p > input[type="file"] {
    border: 0;
    cursor: pointer;
}

.form > p > input {
    width: 100%;
    padding: 5px;
}