.headerBar {
    padding: 5px;
}

.headerBar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.search-input {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom: 1px solid var(--secondary-color) !important;
    width: 70%;
    font-size: 16px;
}

.search-icon {
    background-image: url("/public/img/searchIcon.png");
    height: 27px !important;
    width: 27px !important;
    background-size: cover;
}

.cart-icon {
    background-image: url("/public/img/panierIcon.png");
    height: 40px;
    width: 40px;
    background-size: cover;
    border: 1px solid var(--main-color);
    cursor: pointer;
}

.logo {
    height: 40px;
    cursor: pointer;
}

.frontImg {
    width: auto;
    height: auto;
    margin: 0 auto;
}

.product-box {
    padding: 30%;
}

.container-product-box {
    padding: 2px;
    border: 3px solid var(--secondary-color);
    border-radius: 2px;
    background-color: var(--secondary-color);
}

hr {
    height: 1px;
    width: 100%;
    border-color: #B9B5B5;
}

.box {
    border: 1px solid grey;
    box-shadow: 3px 3px #B9B5B5;
}

