/* html, body, main {
  height: 100%;
} */

body {
  margin: 0;
  padding: 0;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.align-center {
    align-items: center;
}

.gutters {
    padding: 15px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

@media (min-width: 362px) {
    .container {
        max-width: 320px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 362px) {
    .col-xxs-1 {
        max-width: calc(1/12*100%);
        flex: 0 0 calc(1/12*100%);
    }
    .col-xxs-2 {
        max-width: calc(2/12*100%);
        flex: 0 0 calc(2/12*100%);
    }
    .col-xxs-3 {
        max-width: calc(3/12*100%);
        flex: 0 0 calc(3/12*100%);
    }
    .col-xxs-4 {
        max-width: calc(4/12*100%);
        flex: 0 0 calc(4/12*100%);
    }
    .col-xxs-5 {
        max-width: calc(5/12*100%);
        flex: 0 0 calc(5/12*100%);
    }
    .col-xxs-6 {
        max-width: calc(6/12*100%);
        flex: 0 0 calc(6/12*100%);
    }
    .col-xxs-7 {
        max-width: calc(7/12*100%);
        flex: 0 0 calc(7/12*100%);
    }
    .col-xxs-8 {
        max-width: calc(8/12*100%);
        flex: 0 0 calc(8/12*100%);
    }
    .col-xxs-9 {
        max-width: calc(9/12*100%);
        flex: 0 0 calc(9/12*100%);
    }
    .col-xxs-10 {
        max-width: calc(10/12*100%);
        flex: 0 0 calc(10/12*100%);
    }
    .col-xxs-11 {
        max-width: calc(11/12*100%);
        flex: 0 0 calc(11/12*100%);
    }
    .col-xxs-12 {
        max-width: calc(12/12*100%);
        flex: 0 0 calc(12/12*100%);
    }
}

@media (min-width: 575px) {
    .col-xs-1 {
        max-width: calc(1/12*100%);
        flex: 0 0 calc(1/12*100%);
    }
    .col-xs-2 {
        max-width: calc(2/12*100%);
        flex: 0 0 calc(2/12*100%);
    }
    .col-xs-3 {
        max-width: calc(3/12*100%);
        flex: 0 0 calc(3/12*100%);
    }
    .col-xs-4 {
        max-width: calc(4/12*100%);
        flex: 0 0 calc(4/12*100%);
    }
    .col-xs-5 {
        max-width: calc(5/12*100%);
        flex: 0 0 calc(5/12*100%);
    }
    .col-xs-6 {
        max-width: calc(6/12*100%);
        flex: 0 0 calc(6/12*100%);
    }
    .col-xs-7 {
        max-width: calc(7/12*100%);
        flex: 0 0 calc(7/12*100%);
    }
    .col-xs-8 {
        max-width: calc(8/12*100%);
        flex: 0 0 calc(8/12*100%);
    }
    .col-xs-9 {
        max-width: calc(9/12*100%);
        flex: 0 0 calc(9/12*100%);
    }
    .col-xs-10 {
        max-width: calc(10/12*100%);
        flex: 0 0 calc(10/12*100%);
    }
    .col-xs-11 {
        max-width: calc(11/12*100%);
        flex: 0 0 calc(11/12*100%);
    }
    .col-xs-12 {
        max-width: calc(12/12*100%);
        flex: 0 0 calc(12/12*100%);
    }
}

@media (min-width: 576px) {
    .col-sm-1 {
        max-width: calc(1/12*100%);
        flex: 0 0 calc(1/12*100%);
    }
    .col-sm-2 {
        max-width: calc(2/12*100%);
        flex: 0 0 calc(2/12*100%);
    }
    .col-sm-3 {
        max-width: calc(3/12*100%);
        flex: 0 0 calc(3/12*100%);
    }
    .col-sm-4 {
        max-width: calc(4/12*100%);
        flex: 0 0 calc(4/12*100%);
    }
    .col-sm-5 {
        max-width: calc(5/12*100%);
        flex: 0 0 calc(5/12*100%);
    }
    .col-sm-6 {
        max-width: calc(6/12*100%);
        flex: 0 0 calc(6/12*100%);
    }
    .col-sm-7 {
        max-width: calc(7/12*100%);
        flex: 0 0 calc(7/12*100%);
    }
    .col-sm-8 {
        max-width: calc(8/12*100%);
        flex: 0 0 calc(8/12*100%);
    }
    .col-sm-9 {
        max-width: calc(9/12*100%);
        flex: 0 0 calc(9/12*100%);
    }
    .col-sm-10 {
        max-width: calc(10/12*100%);
        flex: 0 0 calc(10/12*100%);
    }
    .col-sm-11 {
        max-width: calc(11/12*100%);
        flex: 0 0 calc(11/12*100%);
    }
    .col-sm-12 {
        max-width: calc(12/12*100%);
        flex: 0 0 calc(12/12*100%);
    }
}

@media (min-width: 768px) {
    .col-md-1 {
        max-width: calc(1/12*100%);
        flex: 0 0 calc(1/12*100%);
    }
    .col-md-2 {
        max-width: calc(2/12*100%);
        flex: 0 0 calc(2/12*100%);
    }
    .col-md-3 {
        max-width: calc(3/12*100%);
        flex: 0 0 calc(3/12*100%);
    }
    .col-md-4 {
        max-width: calc(4/12*100%);
        flex: 0 0 calc(4/12*100%);
    }
    .col-md-5 {
        max-width: calc(5/12*100%);
        flex: 0 0 calc(5/12*100%);
    }
    .col-md-6 {
        max-width: calc(6/12*100%);
        flex: 0 0 calc(6/12*100%);
    }
    .col-md-7 {
        max-width: calc(7/12*100%);
        flex: 0 0 calc(7/12*100%);
    }
    .col-md-8 {
        max-width: calc(8/12*100%);
        flex: 0 0 calc(8/12*100%);
    }
    .col-md-9 {
        max-width: calc(9/12*100%);
        flex: 0 0 calc(9/12*100%);
    }
    .col-md-10 {
        max-width: calc(10/12*100%);
        flex: 0 0 calc(10/12*100%);
    }
    .col-md-11 {
        max-width: calc(11/12*100%);
        flex: 0 0 calc(11/12*100%);
    }
    .col-md-12 {
        max-width: calc(12/12*100%);
        flex: 0 0 calc(12/12*100%);
    }
}

@media (min-width: 992px) {
    .col-lg-1 {
        max-width: calc(1/12*100%);
        flex: 0 0 calc(1/12*100%);
    }
    .col-lg-2 {
        max-width: calc(2/12*100%);
        flex: 0 0 calc(2/12*100%);
    }
    .col-lg-3 {
        max-width: calc(3/12*100%);
        flex: 0 0 calc(3/12*100%);
    }
    .col-lg-4 {
        max-width: calc(4/12*100%);
        flex: 0 0 calc(4/12*100%);
    }
    .col-lg-5 {
        max-width: calc(5/12*100%);
        flex: 0 0 calc(5/12*100%);
    }
    .col-lg-6 {
        max-width: calc(6/12*100%);
        flex: 0 0 calc(6/12*100%);
    }
    .col-lg-7 {
        max-width: calc(7/12*100%);
        flex: 0 0 calc(7/12*100%);
    }
    .col-lg-8 {
        max-width: calc(8/12*100%);
        flex: 0 0 calc(8/12*100%);
    }
    .col-lg-9 {
        max-width: calc(9/12*100%);
        flex: 0 0 calc(9/12*100%);
    }
    .col-lg-10 {
        max-width: calc(10/12*100%);
        flex: 0 0 calc(10/12*100%);
    }
    .col-lg-11 {
        max-width: calc(11/12*100%);
        flex: 0 0 calc(11/12*100%);
    }
    .col-lg-12 {
        max-width: calc(12/12*100%);
        flex: 0 0 calc(12/12*100%);
    }
}

@media (min-width: 1200px) {
    .col-xl-1 {
        max-width: calc(1/12*100%);
        flex: 0 0 calc(1/12*100%);
    }
    .col-xl-2 {
        max-width: calc(2/12*100%);
        flex: 0 0 calc(2/12*100%);
    }
    .col-xl-3 {
        max-width: calc(3/12*100%);
        flex: 0 0 calc(3/12*100%);
    }
    .col-xl-4 {
        max-width: calc(4/12*100%);
        flex: 0 0 calc(4/12*100%);
    }
    .col-xl-5 {
        max-width: calc(5/12*100%);
        flex: 0 0 calc(5/12*100%);
    }
    .col-xl-6 {
        max-width: calc(6/12*100%);
        flex: 0 0 calc(6/12*100%);
    }
    .col-xl-7 {
        max-width: calc(7/12*100%);
        flex: 0 0 calc(7/12*100%);
    }
    .col-xl-8 {
        max-width: calc(8/12*100%);
        flex: 0 0 calc(8/12*100%);
    }
    .col-xl-9 {
        max-width: calc(9/12*100%);
        flex: 0 0 calc(9/12*100%);
    }
    .col-xl-10 {
        max-width: calc(10/12*100%);
        flex: 0 0 calc(10/12*100%);
    }
    .col-xl-11 {
        max-width: calc(11/12*100%);
        flex: 0 0 calc(11/12*100%);
    }
    .col-xl-12 {
        max-width: calc(12/12*100%);
        flex: 0 0 calc(12/12*100%);
    }
}