/*
 **************************************************
 ********************* HEADER *********************
 ************************************************** 
*/

header {
    height: 60vh;
    background-color: var(--main-color);
}

.headerBar {
    height: 50px;
}

.headerBar ul {
    list-style: none;
    overflow: hidden;
}

#brand-logo {
    height: 20px;
    cursor: pointer;
}

.title {
    text-transform: uppercase;
    font-size: 5vw;
}

.subtitle {
    text-transform: uppercase;
    font-size: 2vw;
}

.white-download-btn {
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
    color: var(--main-color);
}

.slide-animation {
    animation: slide-down 420ms cubic-bezier(.165,.84,.44,1);
    background-color: var(--main-color);
}

.slide-down {
    -webkit-animation-name: slide-down;
    animation-name: slide-down;
}

@keyframes slide-down{
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.headerBar .menu-btn:checked~.menu {
    background-color: var(--main-color);
    padding-bottom: 5px;
}

.menu-btn:checked~.menu + #documentation {
    color: var(--third-color) !important;
}

/*
 **************************************************
 ***************** FIRST SECTION ******************
 ************************************************** 
*/

.feature-img {
    width: 20%;
    padding: 15px 0;
}

.feature-content {
    width: 85%;
    margin: 0 auto;
}

/*
 **************************************************
 ***************** FIRST SECTION ******************
 **************************************************
*/

section:nth-child(2) {
    padding: 10px;
}

/*
 **************************************************
 ******************** FOOTER **********************
 ************************************************** 
*/

footer {
    background-color: #e4e4e4;
    height: 200px;
    padding: 15px;
}
