/* #listing Layout */

#listing {
    border-collapse: collapse;
    width: 100%;
}

#listing th, #listing td {
    color: var(--third-color);
    text-align: center;
}

#listing thead {
    line-height: 12px;
    text-transform: uppercase;
}

#listing thead th {
    color: #fff;
    padding: 10px;
    letter-spacing: 1px;
    vertical-align: bottom;
}

#listing tbody tr {
    background: #fff;
    border-top: 2px solid #EEEE;
    transition: background 1s;
}

#listing tbody td {
    padding: 5px;
}

#listing tbody tr:hover td:not(:first-child) {
    color: #fff;
    background: var(--main-color);
}

#listing tbody td:first-child {
    background: #EEEE;
}

.options {
    margin: 0 5px;
    display: inline-block;
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 34px;
        line-height: 36px;
        padding-left: 15px;
    }

    #listing {
        font-size: 0.8em;
    }
}