.backMenuLink > a {
    color: #444444;
}

@media screen and (max-width: 768px) {
    .backLeftMenu {
        height: auto;
        width: 100%
    }
    .backMenu {
        margin: 0;
    }

}

.backMenuLink {
    padding-bottom: 8%;
    padding-top: 8%;
}

.backLeftMenu {
    background-color: #FDFBFB;
    height: 100%;
}

.backMenu {
    list-style: none;
    padding: 0;
    margin-top: 50px;
    background-color: #FBFBFB;
}

