.backHeaderBar {
    background-color: #D8475D;
    height: 130px;
}

.backMenu {
    list-style: none;
    padding: 0;
    margin-top: 50px;
    background-color: #FBFBFB;
}

.backLeftMenu {
    background-color: #FDFBFB;
    height: 100%;
}

.backTDB {
    background-color: #D8475D;
    text-overflow: clip;
}

.backProduits{
    background-color: #D8475D;
}

.backTitlePages {
    margin-top: 5%;
    font-size: 25px;
}

.backNoA {
    color: black;
    text-decoration: none;
}

.backMenuLink {
    padding-bottom: 8%;
    padding-top: 8%;
}

.backMenuLink > a{
    color: #444444;
}

/* body {
    background: #FBFBFB;
    height: 100%;
} */

section{
    height: 100%;
}

main{
    background-color: #F1F1F1;
    height: 100%;
}

.backMarques{
    color: #444444;
    float: right;
    padding-left: 15%; 
  
}

.backFiltreMarques{
    margin-top: 30px;
    margin: auto;
}

.backFiltreHeader{
    height: 100px;
    background-color: #F5F5F5;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

.backListingProduits{
    height: 25%;
    background-color: #FBFBFB;
    border-bottom: 1px solid #DADADA;
    /* padding-top: 20px; */
}

.backProduitsImg{
    width: 100px;
}

.backDescription{
    color: #444444;
    display: block;
    margin: auto;
}

.backPrixProduits{
    color: #444444;
    margin: auto;
}

.backBtnAdd{
    background-color: #D8475D;
    font-size: 2.8em;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -100px;
    position: fixed;
}

.backSearch{
    width: 30px;
}


@media screen and (max-width: 800px){
    .backHeaderBar{
        display: none;
    }
}

/* @media screen and (max-width: 800px){
    .backView, .backPrixProduits{
        margin-top: auto;
    }
} */


@media screen and (max-width: 991px) {
    .backView {
        height: auto;
    }

    .backLeftMenu {
        width: 100%;
    }

    .backMenuLink {
        padding: 3% 0;
    }

    .floatingLeft {
        margin-top: 0;
        padding: 20px;
    }

    .backMenu {
        margin-top: 50px;
    }
}

@media screen and (max-width: 574px){
    .backLeftMenu {
        height: auto;
    }
}
