@font-face {
    font-family: 'Avenir';
    src: url('../../public/font/AvenirNextRegular.otf') format('truetype');
}

* {
    font-family: "Avenir";
    color: #FDFBFB;
}

a {
    text-decoration: none;
}