@font-face {
    font-family: 'Avenir';
    src: url('../../public/font/AvenirNextRegular.otf') format('truetype');
}

* {
    font-family: "Avenir";
    color: #FDFBFB;
}

a {
    text-decoration: none;
}

.blanc {
    color: #FDFBFB !important; 
}

.rose {
    color: #D8475D !important;
}

.rose-bg {
    background-color: #D8475D !important;
}

.left {
    padding-left: 15px;
    float: left;
}

.right {
    padding-right: 15px;
    float: right;
}

.position-fixed {
    position: fixed;
    width: 100%;
    /* top: 0; */
    height: 100%;
}

.center-content {
    justify-content: center
}

.margin-auto {
    margin: 0 auto;
}

h1 {
    padding: 20px;
    font-size: 1.5em;
}

p {
    padding: 15px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.line-height {
    line-height: 0px;
}

.grey {
    color: #B9B5B5;
}

.box-shadow {
    box-shadow: 1px 1px 12px #555;
}

.black {
    color: black;
}