.frontImg {
    margin-top : 50px;
    width: 100%;
    height: auto;
    background-color: #FAFAFA;
}

.frontFirstCol {
    width: 100%;
    height: 100%;
}

.frontSecondCol {
    width: 100%;
    height: 100%;
}

.frontThirdCol {
    width: 100%;
    height: 100%;
}
