.backHeaderBar {
    background-color: #D8475D;
    height: 130px;    
}





.backTDB {
    background-color: #D8475D;
    text-overflow: clip;
}

.backProduits{
    background-color: #D8475D;
}

.backTitlePages {
    margin-top: 5%;
    font-size: 25px;
}

.backNoA {
    color: black;
    text-decoration: none;
}



/* .backLeftMenuBar >.backMenu > .backMenuLink:first-child{
    color: white;
} */

/* .backMenuBar {
    border: 1px solid #D8475D;
    height: 50px;
    background-color: #D8475D;
} */



body {
    background: #FBFBFB;
    height: 100%;
}

.backNavbarRight {
    float: right;
}

.backInlineBlock {
    display: inline-block
}

.backProfileName {
    display: table-cell;
    padding: 2px;
}

.backView{
    background-color: #FBFBFB; 
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-radius: 10px;
    margin-top: -100px;
}

html {
    height: 100%;
}

.logo {
    padding: 10px;
}

.floatingLeft {
    display: inline;
    float: left;
    width: 100%;
}

main {
    height: 100%;
    background-color: #F1F1F1;
}

main section:nth-child(1) {
    height: 100%;
}

.floatingLeft .container canvas {
    margin: 0 auto;
}

.floatingLeft .container {
    width: 100%;
}

.backProduits a {
    color: #F1F1F1;
}