.backHeaderBar {
    background-color: #D8475D;
    height: 130px;
    
}

.backMenu {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.backLeftMenu {
    background-color: #FDFBFB;
    height: 100%;
}

.backTDB {
    background-color: #D8475D;
    text-overflow: clip;
}

.backProduits{
    background-color: #D8475D;

}
.backTitlePages {
    margin-top: 5%;
    font-size: 25px;
}

.backNoA {
    color: black;
    text-decoration: none;
}

.backMenu>.backMenuLink {
    padding-bottom: 8%;
    padding-top: 8%;
}


.backLeftMenuBar >.backMenu > .backMenuLink:first-child{
    color: white;
}

.backMenuBar {
    border: 1px solid #D8475D;
    height: 50px;
    background-color: #D8475D;
}

.backMenuLink > a{
    color: #444444;
}

body {
    background: #FBFBFB;
    height: 100%;
}

.backNavbarRight {
    float: right;
}

.backInlineBlock {
    display: inline-block
}

.backProfileName {
    display: table-cell;
    padding: 2px;
}

.backView{
    background-color: #FBFBFB; 
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-radius: 10px;
    margin-top: -100px;
}