.homeBar {
    height: 70px;
    background-color: #D8475D;
    box-shadow: 10px 6px 12px grey;
}

.homeLogoImg {
  width: 200px;
  height: 30px;
  object-fit: cover;
  object-position: left top;
}

.homeFirstContent {
    height: 700px;
    background-image: url('../../public/img/BlossomHome.png');
    background-position: center;
    background-size: cover;
}

.homeBtTelechargement {
    width: 250px;
    height: 85px;
    background-color: #D8475D;
    border-radius: 1em;
    border-color: #D8475D;
}

.homeTelecharger {
    font-size: 22px;
    color : #FFFFFF;
}

.homeTextHomeBar {
    font-size: 12px;
    color : #FFFFFF;
}

.homeDivTaille {
    height: 550px;
    width: 100%;
}

.homeCitation{
  background-color: #F3DCE0;
  height: 200px;
}

.homeSlogan{
  font-size: 24px;
  color: #4A4A4A;
}

.homeTitleQuestion{
  font-size: 16px;
  color: #4A4A4A;
}

.homeCitationText{
  font-size: 20px;
  color: #9B9B9B;
  font-style: italic;
}

.homeSignature{
  color: #4B4B4B;
  font-size: 10px;
  font-style: italic;
}

.homeTitleFeatures{
  height: 150px;
  width: 100%
  background-color: #FDFCFC;
}

.homeFeatures{
  height: 200px;
  width: 100%
  background-color: #FDFCFC;
}

.homeGeneral{
  border-style:solid;
  border-color: #4A4A4A;
  height: 150px;
  width: 200px;
}

.homeBrush{
  border-width:0px 1px 0px 0px;
}

.homeSecurity{
  border-width:0px 0px 0px 0px;
}

.homePerf{
  border-width:0px 0px 0px 1px;
}

.homeThumbUp{
  border-width:1px 1px 0px 0px;
}

.homeMouse{
  border-width:1px 0px 0px 0px;
}

.homeMobile{
  border-width:1px 0px 0px 1px;
}

.homeFeaturesImg{
    width: 40px;
    height: 40px;
}

figcaption{
  color: #4A4A4A;
  font-size: 16px;
}
