@font-face {
    font-family: 'Avenir';
    src: url('../../font/AvenirNextRegular.otf') format('truetype');
}

* {
    font-family: "Avenir";
    color: #ffffff;
}

a {
    text-decoration: none;
}

/* A ne pas toucher */

.adminBar {
    height: 50px;
    background-color: #D8475D;
}

.logo {
    height: 35px;
}

.profilePicture {
    height: 35px;
}

.title {
    margin: 0 auto;
    display: block;
}

.subMenuList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.subMenuLink {
    float: left;
    padding: 10px;
}

/* A ne pas toucher */

/* FRONT */

.frontMenuBar {
    border: 1px solid #D8475D;
    height: 50px;
    background-color: #D8475D;
}

.frontCartInput,
.frontSearchIcon,
.frontSearchInput {
    background-color: #D8475D;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}

.frontSearchIcon {
    background-image: url("../../img/searchIcon.png");
    height: 20px;
    width: 20px;
    background-size: cover;
    border: 1px solid #D8475D;
}

.frontCartInput {
    background-image: url("../../img/panierIcon.png");
    height: 40px;
    width: 40px;
    background-size: cover;
    border: 1px solid #D8475D;
}

.frontFirstImg {
    height: 100%;
}

.frontFirstContent {
    background-color: #FAFAFA;
}

.frontFirstCol {
    width: 100%;
    height: 100%;
}

.frontSecondCol {
    width: 100%;
    height: 100%;
}

.frontThirdCol {
    width: 100%;
    height: 100%;
}

/* /FRONT */

.backHeaderBar {
    background-color: #D8475D;
    height: 130px;
}

.backMenu {
    list-style: none;
    padding: 0;
}

.backLeftMenuBar {
    background-color: #FDFBFB;
    margin-top: 20px;
}

.backTDB {
    background-color: #D8475D;
    text-overflow: clip;
}

.backTitlePage {
    color: black;
}

.backNoA {
    color: black;
    text-decoration: none;
}

.backMenu>.backMenuLink {
    padding-bottom: 5%;
    padding-top: 5%;
}

.backMenuBar {
    border: 1px solid #D8475D;
    height: 50px;
    background-color: #D8475D;
}