<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../sass/css/grid.css">
    <link rel="stylesheet" href="../sass/css/style.css">
    </head>
<body>
    <header class="container">
        <nav class="menu-bar">
          <section class="row col-lg-12">
            <div class="col-lg-3"></div>
            <div class="col-lg-1">
              <img class="logo" src="../../img/logo.png">
            </div>
            <div class="col-lg-1">
              <a href="#">Téléphones</a>
            </div>
            <div class="col-lg-1">
              <a href="#">Accessoires</a>
            </div>
            <div class="col-lg-1">
              <a href="#">Assistance</a>
            </div>
            <div class="col-lg-2">
              <form action="#">
                <input type="text" name="recherche">
                <input class="image_search_input" type="submit" name="search" value=""/>
              </form>
            </div>
            <div class="col-lg-1">
              <form action='#'>
                <input class="image_panier_input" type="submit" name="search" value=""/>
              </form>
            </div>
          </section>
        </nav>

        <section class="row col-lg-12">
          <div class="divImgPrincipale">
            <img class="imgPrincipaleIphoneX" src="../../img/bigIphoneXaccueil.jpeg">
          </div>
        </section>

        <section class="row col-lg-12">
          <nav class="empty"></nav>
        </section>

        <section class="row col-lg-12">
          <div class="col-lg-3">
            <img class="img1accueil" src="../../img/iphone8accueil.jpg">
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-3">
            <img class="img2accueil" src="../../img/iphone7accueil.jpeg">
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-3">
            <img class="img3accueil" src="../../img/iphoneXaccueil.jpg">
          </div>
        </section>

        
    </header>
</body>
</html>
