<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../sass/css/grid.css">
    <link rel="stylesheet" href="../sass/css/style.css">
</head>

<body>
    <header>

        <nav class="row adminBar">

            <div class="col-lg-1">
                <img class="logo" src="../img/logo.png" alt="Logo">
            </div>
            <div class="col-lg-3">
                <ul class="subMenuList">
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Créer</a>
                    </li>
                    <li>
                        <a href="">Editer</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-1"></div>
            <div class="title" class="col-lg-2">
                Blossom
            </div>
            <div class="col-lg-3"></div>
            <div class="col-lg-1">
                <img class="profilePicture" src="../img/logo.png" alt="Image de profil">
            </div>
            <div class="col-lg-1">
                Doggo Shiba
            </div>

        </nav>

        <nav class="row menuBar">

            <div class="col-lg-3"></div>
            <div class="col-lg-1">
                <img class="logo" src="../../img/logo.png">
            </div>
            <div class="col-lg-1">
                <a href="#">Téléphones</a>
            </div>
            <div class="col-lg-1">
                <a href="#">Accessoires</a>
            </div>
            <div class="col-lg-1">
                <a href="#">Assistance</a>
            </div>
            <div class="col-lg-2">
                <form action="#">
                    <input type="text" name="recherche">
                    <input class="searchInput" type="submit" name="search" value="" />
            </div>
            <form action='#'>
                <input class="cartInput" type="submit" name="search" value="" />
            </form>

        </nav>
    </header>

    <main>

        <section class="row">
            <div class="firstHomeContent col-lg-12">
                <img class="firstHomeImg" src="../../img/bigIphoneXaccueil.jpeg">
            </div>
        </section>

        <section class="row">
            <div class="col-lg-4">
                <img class="firstColHome" src="../../img/iphone8Blackaccueil.jpeg">
            </div>
            <div class="col-lg-4">
                <img class="secondColHome" src="../../img/iphone8Grisaccueil.jpeg">
            </div>
            <div class="col-lg-4">
                <img class="thirdColHome" src="../../img/iphone6accueil.jpg">
            </div>
        </section>

    </main>

    <footer>
        <section class="row">

        </section>
    </footer>

</body>

</html>